/*Header*/
header_donation h1{
  color: #354435;
  font-family: Helvetica, sans-serif;
  text-align: center;
  /*border: 2px solid red;*/
}


/*Section*/

form h4 {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    text-align: left;
    padding-left: 25%;
}
body {
    display: grid;
    grid-template-columns: repeat(auto,25%);
    grid-template-rows: auto;
    grid-template-areas: 
    "header_donation header_donation header_donation header_donation"
    "main main main main"
    "footer footer footer footer";
    font-family: helvetica, sans-serif;
}

header_donation {
  grid-area: header_donation;
}

section {
    grid-area: main;
}

footer {
    grid-area: footer;
}

    
.body-grid {
  display: grid;
  background: #354463;
  margin: 10% 10% 20% 10%;
  grid-template-columns: 50% 50%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.2em;
}





.body-grid div{
    margin: 15% 5% 15% 5%;

    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-body-flex .slogan h1 {
    color: white;
    font-family: flood-std;
    align-items: center;
    /*border: 2px solid red;*/
    font-size: 5em;
    max-width: 550px;
    margin: 20% 10% 20% 10%;
}
.form-header{
    grid-column-start: 1;
    grid-column-end: span 2;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    padding-left: 0;
    margin-left: 0;
}

.form-header h2 {
    text-align: left;
    padding-left: 0%;
    margin-bottom: 0;
    margin-top: 5%;
    margin-left: 0;
    padding-right: 5%;

}
.heading h4 {
  text-align: left;
  padding-left: 0%;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  font-weight: lighter;
}

.body-grid input {
    border: none;
    border-bottom: 2px solid #C1F7D5;
    background: #354463;
    font-size: 1.2em;
    width: 80%;
    padding: 2% 0% 2% 0%;
    color:#C1F7D5;
}

.button_1 {
    color: #354463;
    background: #C1F7D5;
    border-radius: 30px;
    font-weight: bold;
    width: 70%;
    font-size: 1.1em;
    border: none;
    padding: 3%;
    text-align: center;

}
form a{
    color: #C1F7D5;
}

input[placeholder="MM"], input[placeholder="YYYY"], input[placeholder="CVC"]  {
    width: 30%;
    padding-right: 5%;
    margin-right: 5%;
}
.heading {
  margin-left:0;
  padding-left:5%;
  align-self: center;
}
.heading h4{
  margin-left:0;
  padding-left:0%;
}
.full-length {
    grid-column-start: 1;
    grid-column-end: span 2;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    padding-left: 0;
    margin-left: 0;
}

.full-length input {
    width: 95%;
}

li {
    margin: 5px 0;
}

footer {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #354463;
  font-family: Helvetica, sans-serif;
}


hr {
  width: 80%;
  text-align: left;
  margin: 0;
}

.footer-container div {
  margin: 40px 10px 40px 10px;
}

.footer-container a{
  text-decoration: none;
  color: inherit;

}

.footer-container li{
  list-style: none;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
}

.footer-container h3, p, ul{
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: lighter;
  font-size: 1.2em;
}

.titleblock {
  align-self: justify;
}
.titleblock h2{
  padding-top: 5%;
  margin-top: 0;
  text-align: left;
  font-size: 1.8em;    
  color: #354463;
}
.slogan h2{
  padding-top: 0;
  margin-top: 0;
  font-family: flood-std;
  font-size: 4em;
  text-align: right;
}

select {
  background:#354463;
  width: 100%;
  color: #C1F7D5;
  height: 2.2em;
  border: 0px;
  border-bottom: 2px solid #C1F7D5;;
  font-size: 1em;
}

.adjust {
  width: 25%;
}

.heading-flex {
  display: flex;
  flex-direction: row;
  padding: 0;

}




/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .main-body-flex {
    display: flex;
    background: url("../assets/donation/annie-spratt-427340-unsplash.png") no-repeat 0;
    background-size: cover;
    flex-direction: row;
    /*border: 2px solid red;*/
    justify-content: center;
    height: auto;
}

  .footer-container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    margin: 0 10% 0 10%;
  
    }
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .main-body-flex {
    display: flex;
    background: url("../assets/donation/annie-spratt-427340-unsplash.png") no-repeat 0;
    background-size: cover;
    flex-direction: row;
    /*border: 2px solid red;*/
    justify-content: center;
    height: auto;
}

  .footer-container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    margin: 0 10% 0 10%;
  
    }
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .main-body-flex {
    display: flex;
    background: url("../assets/donation/annie-spratt-427340-unsplash.png") no-repeat 0;
    background-size: cover;
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
}

  .footer-container {
    display: flex;
    flex-direction: row;
    margin: 0 10% 0 10%;
    flex-wrap: wrap;
    justify-content: space-between;

    }
    .main-body-flex .slogan h1 {
      font-size: 3em;
      color: white;
      font-family: flood-std;
      align-items: center;
      /*border: 2px solid red;
      
      max-width: 550px;*/
      margin: 20% 10% 5% 10%;
  }
  .button_1 {
 
    border-radius: 30px;
    font-weight: bold;
    width: 70%;
    font-size: 0.8em;
    border: none;
    padding: 3%;
    text-align: center;
}
  .footer-container div {
    max-width: 50%;
  }
  .titleblock {
    align-self:flex-start;
  }
  .titleblock h2{
    padding-top: 5%;
    margin-top: 0;
    text-align: left;
    font-size: 1.6em;    
    color: #354463;
  }
  hr {
    width:0;
  }
  .footer-container a{
    text-decoration: underline;
    color: inherit;
  
  }
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .button_1 {
 
    border-radius: 30px;
    font-weight: bold;
    width: 70%;
    font-size: 0.5em;
    border: none;
    padding: 3%;
    text-align: center;

}
hr {
  width:0;
}
.footer-container a{
  text-decoration: underline;
  color: inherit;

}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .main-body-flex {
    display: flex;
    background: url("../assets/donation/annie-spratt-427340-unsplash.png") no-repeat 0;
    background-size: cover;
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
}

  .footer-container {
    display: flex;
    flex-direction: row;
    margin: 0 10% 0 10%;
    flex-wrap: wrap;

    }
    .main-body-flex .slogan h1 {
      font-size: 3em;
      color: white;
      font-family: flood-std;
      align-items: center;
      /*border: 2px solid red;
      
      max-width: 550px;
      margin: 20% 10% 20% 10%;*/
  }
  .button_1 {
 
    border-radius: 30px;
    font-weight: bold;
    width: 70%;
    font-size: 0.5em;
    border: none;
    padding: 3%;
    text-align: center;
}
.footer-container a{
  text-decoration: underline;
  color: inherit;

}
hr {
  width:0;
}
}