/*Global*/
body {
    display: grid;
    grid-template-columns: repeat(auto,25%);
    grid-template-rows: auto;
    grid-template-areas: 
    "header_donation header_donation header_donation header_donation"
    "header navigation navigation navigation"
    "the-issue the-issue the-issue the-issue"
    "what-we-do what-we-do what-we-do what-we-do"
    "did-you-know did-you-know did-you-know did-you-know"
    "stories stories stories stories"
    "event event event event"
    "newsletter newsletter newsletter newsletter"
    "footer footer footer footer";
    font-family: helvetica, sans-serif;
}
header {
    grid-area: header;
    width: auto;
    color: #354435;
}
navigation {
    grid-area: navigation;
    width: auto;
    display: flex;
    flex-direction: row;
    font-weight: lighter;
    color: #354435;
    justify-content: space-around;
}

.flex-about-us{
    flex-grow: 1;
    align-self: center;
}


navigation div {
    text-align: center;
}
.flex-our-stories{
    flex-grow: 1;
    align-self: center;
}

.flex-news{
    flex-grow: 1;
    align-self: center;
}

.flex-button{
    flex-grow: 1;
    align-self: center;
}
navigation a{
    text-decoration: none;
    color: inherit;
    font-size: 1.3em;
}

.the-issue {
    grid-area: the-issue;
    width: auto;
    display: grid;
    grid-template-columns: 35% 1fr 1fr 35%;
    grid-template-rows: 70% 5% 5% 20%;
}

.take-action {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    justify-self: center;
    align-self: center;
    padding-left: 2%;
    padding-right: 2%;
    background: #354463;
    color: #C1F7D5;
    margin: 0 5% 0 5%;
}

.page-division {
    display: flex;
    flex-direction: row;
    background: url("../assets/home/annie-spratt-135307-unsplash@3x.png") no-repeat 0;
    background-size: cover;
    height: auto;
    grid-row: 1 / 3;
    grid-column: 1 / 5;
    justify-content: space-around;
}
.grid-description {
    display: grid;
    grid-template-rows: 5% 5% 50% 40%;
    grid-template-columns: 10% 20% 20% 50%;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 5%;
}
.parag {
    background: white;
    height:auto;
    font-family: Helvetica, sans-serif;
    color: #354435;
    grid-column: 1 / 5;
    grid-row: 2 / 5;
    padding-bottom: 10%;
    font-size: 150%;
    max-width: 700px;
}
.parag h1{
    color: #354435;
    padding-left: 10%;
    padding-right: 5%;  

}
.parag a{
    color: inherit;
    margin-bottom: 2%;
    font-size: 0.5em;
    font-weight: lighter;

}

.issue-title {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    background: #354463;
    color: #fff;
    font-family: arial;
    font-size: 0.8em; 
    padding-top: 0;
    text-align: center;
    font-weight: lighter;
    padding: 2%;
}

.issue-title p {
    text-align: center;
    margin: 5% 4% 2% 4%;
    padding-left: 4%;
    padding-right: 4%;
}

.slogan-main {
    color: white;
    font-family: flood-std;
    font-size: 4em;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 15%;
    margin-left: 5%;
}
.grid-footer {
    grid-row-start: 3;
    grid-row-end: 5;
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 4%; 
    padding-left: 1%;
    padding-bottom: 1%;
    background: #C1F7D5;
    color: #354463;
}

.newsletter {
    grid-area: newsletter;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #C1F7D5;
    align-items: center;
    font-size: 1.5em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #354463;
}

.take-input {
    text-align: center;
    font-size: 1.1em;
    border: none;
    border-radius: 30px;
    padding-right: 20%;
    padding: 2%;

}

.button_2 {
    color: #C1F7D5;
    background: #354463;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.button-space {
    width: 60%;
    margin-left: 5%;
    margin-right:0;

}

.newsletter div {
    padding-right: 2%;
    padding-left: 2%;
}

.grid-footer p {
    padding-left: 0;
    margin-left: 0;
    padding-top: 1%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.what-we-do {
    grid-area: what-we-do;
    font-family: helvetica, sans-serif;
    color: #C1F7D5;
    background: #354463;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.title-what-we-do {

}
.paragraph {
    font-weight: bolder;
    color: white;
    font-size: 2.5em;
    margin-bottom: 3%;
    text-align: justify;
}

.cards {
    display: flex;
    justify-content:space-between;
    padding:0;
}

.tree-planting {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 40% 50%;
    max-width: 450px;
}
.tree-planting div {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}

.tree-planting .image {
    margin-right: 4%;
}
.description {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #ffffff;
    color: #354463;
}
.description h2 {
    padding-left: 10%;
    padding-right: 10%;
}
.description p {
    line-height: 2em;
    padding-left: 10%;
    padding-right: 10%;
}
.image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;

}
img {
    height: 100%;
    width: 100%;
}

.button_4 {
    font-size: 1.3em;
    padding: 3%;
    border-radius: 25px;
    color: #354463;
    background: #C1F7D5;
    font-weight: bold;
    border: none;
    margin: 0 2%;
    width: 50%;
}

#button {
    padding-left: 8%;

}

.button3 {
    font-size: 1.3em;
    padding: 1%;
}
.did-you-know{
    grid-area: did-you-know;
    width: auto;
}
.stories{
    grid-area: stories;
    width: auto;
    display: grid;
    grid-template-rows: 10% 10% 20% 1fr 30%;
    grid-template-columns: 35% 5% 10% 50%;
    margin: 5% 15% 5% 5%;
    padding-bottom: 15%; 
    padding-top: 2%; 
    /*transform: scale(1.2,1.2);*/
    padding-left: 10%;
}

.stories-image{
    grid-column-start:2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
    background: url("../assets/home/lady-baby.png") no-repeat 0 0;
    max-height: 100%;
    width: 100%;
    background-size: cover;
    margin-bottom: 2%;
}

.stories-title{
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
}

.stories-title h4{
    /*text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    height: auto;*/
    font-size: 0.8em; 
    /*
    padding:5%;*/
    text-align: center;
    font-weight: lighter;
    color: #fff;
    background: #354463;
    padding-top: 5%;
    padding-bottom: 5%;
    /*padding-bottom: 10%;*/
}

.read-button{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    padding-left: 0;
    margin-right: 40%;
    align-self: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

.back-black {
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    color: #fff;
    background: #354463;
}

.back-black h3{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2em;
    margin-left: 5%;
 }

 .back-black p {
     padding-left: 10%;
     margin-right: 5%
 }

.event{
    grid-area: event;
    width: auto;
    display: flex;
    flex-direction: column;
    background: #354463;
    font-family: helvetica, sans-serif;
}


.event-content {
    display:flex;
    flex-direction: column;
    margin-right: 10%;
}

#event-slogan h1{
    color: white;
    font-family: flood-std;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0%;
    margin-left: 10%
}
.event-content h1{
    color: #fff;
    font-size: 3em;
    margin-bottom:5%;
}
.event-content p{
    color: #fff;
    font-size: 1.5em;
    margin-left:0;
    padding-left:0;
    margin-top:2%;
    font-weight:lighter;
    margin-bottom: 10%;
}

.event-paragraph {
    justify-self: start;
}

#event-button {
    max-width: 30% 
}

.event-grid {
    display: grid;
    grid-template-columns: 47% 6% 47%;
    grid-template-rows: 1fr 1fr;
    margin: 0 0% 5% 0%;
    gap: 5%;
    padding-bottom:5%;
    padding-left: 10%;
    padding-right: 10%;
}

.event-image1{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    margin-right: 5%; 
}
.event-image2{
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    margin-right: 10%;   
}

#event{
    grid-row: 1 / 2;
    grid-column: 3 / -1;

}

#latest-news {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}


footer {
    grid-area: footer;
    width: auto;
}

/*Header*/
header h1{
    color: #354435;
    font-family: Helvetica, sans-serif;
    text-align: center;
    /*border: 2px solid red;*/
}

/*Section*/

form h4 {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    
    text-align: left;
    padding-left: 25%;
}

.main-body-flex {
    display: flex;
    background: url("../assets/donation/annie-spratt-427340-unsplash.png") no-repeat 0;
    background-size: cover;
    flex-direction: row;
    /*border: 2px solid red;*/
    justify-content: center;
    height: auto;
}


.body-grid {
    display: grid;
    background: #354463;
    margin: 10% 10% 20% 10%;
    grid-template-columns: 50% 50%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.2em;
}

.body-grid div{
    margin: 15% 5% 15% 5%;
    /*border: 2px solid red;*/
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-body-flex .slogan h1 {
    color: white;
    font-family: flood-std;
    align-items: center;
    /*border: 2px solid red;*/
    font-size: 5em;
    max-width: 550px;
    margin: 20% 10% 20% 10%;
}
.form-header{
    grid-column-start: 1;
    grid-column-end: span 2;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    padding-left: 0;
    margin-left: 0;
}

.form-header h2, h4 {
    text-align: left;
    padding-left: 0%;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    /*border: 2px solid red;*/
}
.body-grid input {
    border: none;
    border-bottom: 2px solid #C1F7D5;
    background: #354463;
    font-size: 1em;
    width: 60%;
}

.button_1 {
    color: #354463;
    background: #C1F7D5;
    border-radius: 30px;
    height: 3em;
    font-weight: bold;
    width: 80%;
    font-size: 1.1em;
    border: none;
}


form a{
    color: #C1F7D5;
}

input[placeholder="MM"], input[placeholder="YYYY"], input[placeholder="CVC"]  {
    width: 30%;
}

.full-length {
    grid-column-start: 1;
    grid-column-end: span 2;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    padding-left: 0;
    margin-left: 0;
}

.full-length input {
    width: 100%;
}

li {
    margin: 5px 0;
}



/*Footer*/
footer {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #354463;
    font-family: Helvetica, sans-serif;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    margin: 0 10% 0 10%;

    }
hr {
    width: 90%;
    text-align: left;
    margin: 0;
}

.footer-container div {
    margin: 40px 10px 40px 10px;
}

.footer-container a{
    text-decoration: none;
    color: inherit;

}

.footer-container li{
    list-style: none;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
}

.footer-container h3, p, ul{
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: lighter;
    font-size: 1.2em;
}


.titleblock h2{
    padding-top: 0;
    margin-top: 0;
    text-align: left;
    font-size: 1.8em;;
}
.slogan h2{
    padding-top: 0;
    margin-top: 0;
    font-family: flood-std;
    font-size: 4em;
    text-align: right;
}

/*Did you know section*/
.did-you-know {
    background: url("../assets/home/did-you-know-background.png") no-repeat 0;
    display: flex;
    background-size: cover;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 5% 5% 5%;
}
.placards {
    display: flex; 
    flex-direction: column;
    margin: 5% 0%;
    justify-content: space-between;
}
.slogan-did-you-know {
    font-family: flood-std, helvetica, sans-serif;
    font-size: 3em;
    max-width: 30%;
    color: #fff;
    font-weight: lighter;
    margin-top: 5%;
    margin-bottom: 2%;
    padding-bottom:0;
}

.slogan-did-you-know h1{
    margin-bottom: 5%;
    padding-bottom: 5;
}
/*
.slogan-did-you-know .button_1 {
height: 1%;
width: 30%;
border-radius: 20px;
font-size: 1em;
}
*/


.logo-buttons {
    background: #C1F7D5;
    border-radius: 50%;
    border: none;
    height: 3em;
    width: 3em;
    padding: 25%;
}

.logos {
    grid-row: 3 / 3;
    grid-column: 4 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.placard1, .placard2, .placard3, .placard4 {

    margin: 5% 0;
    display: grid;
    grid-template-columns: 10% 25% 35% 30%;
    grid-template-rows: 10% 10% 80%;
    height: 225px;
}
.back-white {
    grid-area: 2 / 1 / -1 / -1;
    background-color: #fff;
}
.card-content {
    grid-row: 3 /3;
    grid-column: 2 / 4;

}
.card-content p{
    padding-left: 0;
    color: #354463;
    margin-top:0;
    font-weight: lighter;
}
.card-content h2{
    color: #354463;
    font-size: 3em;
    margin-top: 5%;
    margin-bottom: 2%;
    }
.card-title {
    grid-row: 1 / 3;
    grid-column: 2 /3;
    background-color: #354463;
    color: #fff;
    font-size: 0.8em;
    align-self: center;
}
.card-title h4{
    padding: 10%;
    text-align: center;
}
.button_5 {
    color: #354463;
    background: #C1F7D5;
    border-radius: 30px;
    font-weight: bold;
    font-size: 0.5em;
    border: none;
    padding: 2%;

}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .grid-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .learn, .volunteer, .donate, .share {
        max-width: 40%;
      
    }
    .page-division {
        display: flex;
        flex-direction: column-reverse;
        background: url("../assets/home/annie-spratt-135307-unsplash@3x.png") no-repeat 0;
        background-size: cover;
        max-width: 100%;
        grid-row: 1 / 3;
        grid-column: 1 / 5;
        justify-content: space-around;
    }
    .footer-container{
        display:grid;
        grid-template-columns: 32% 32% 36%;
        grid-template-rows: 50% 50%;
    }
    .titleblock {
        grid-row: 1 / -1;
        grid-column: 1/2;
    }
    .newsletter {
        grid-area: newsletter;
        display: grid;
        grid-template-rows: 70% 30%;
        grid-template-columns: 60% 40%;
        justify-content: center;
        background: #C1F7D5;
        align-items: center;
        font-size: 1.5em;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        color: #354463;
    }

    .descrip{
        grid-row:1 /2;
        grid-column: 1/3;
    }
    .take-input {
        grid-row:2 /3;
        grid-column: 1 /2;
    }
    .button-space{
        grid-row:2 /3;
        grid-column: 2/3;;
    }
    .button_2 {
        width: 100%;
        padding: 2%;
    }
    .button_5 {
        width: 80%;
        padding: 2%;
    }


.cards {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding:0;
}

.tree-planting {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 40% 50%;
    max-width: 450px;
}
.tree-planting div {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}

.tree-planting .image {
    margin-right: 4%;
}
.description {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #ffffff;
    color: #354463;
}


}
.image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 5%;
}

}

  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    
  }