/*Header*/
.titleblock {
    float: left;
    width: 80%;
}

.navigation {
    display: inline;
    float: right;
}
/*Footer newsletter*/

.newsletter {
    display: flex;
    justify-content: center;
    background: #C1F7D5;
    font-family: helvetica, sans-serif;
}

.subscribe {
    color: #354463;
    font-weight: bold;

}

.button_2 {
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 10px 0 10px;
    color: #C1F7D5;
    background: #354463;
}

input[type="email"] {
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 10px 0 10px;
}


/*Footer details*/
.details {
    display: grid;
    grid-template-columns: repeat(5,20%);
    margin: 5% 5% 0 5%;
    color: #354463;
    font-family: helvetica, sans-serif;
}
.details div {
    padding-left: 5%;
    padding-right: 5%;
}

.details ul {
    list-style: none;
    padding: 0px;
}


.follow-us {

}
a {
    text-decoration: none;
    color: #354463;
    font-family: helvetica, sans-serif;
}

.slogan {
    align-self: start;
    font-family: flood-std;
    font-size: 2em;
}