.what-we-do {
    font-family: helvetica, sans-serif;
    color: #C1F7D5;
    background: #354463;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.title-what-we-do {

}
.paragraph {
    font-weight: bolder;
    color: white;
    font-size: 2.5em;
    margin-bottom: 3%;
    text-align: justify;
}

.cards {
    display: flex;
    justify-content:space-between;
    padding:0;
}

.tree-planting {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 40% 50%;
    max-width: 450px;
}
.tree-planting div {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}
.description {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #ffffff;
    color: #354463;
}
.description h2 {
    padding-top: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
.description p {
    line-height: 2em;
    padding-left: 10%;
    padding-right: 10%;
}
.image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;

}
img {
    height: 100%;
    width: 100%;
}

.button_1 {
    font-size: 1.3em;
    padding: 2%;
    border-radius: 25px;
    color: #354463;
    background: #C1F7D5;
    font-weight: bold;
    border: 0;
}

#button {
    padding-left: 10%;

}

.button3 {
    font-size: 1.3em;
    padding: 1%;
}
